# _Notebook Jupyter_ 4_classificarDESCRICAO

# Classificação da DESCRIÇÃO obtida a partir da lista de Aplicações

Diante da necessidade de se ter uma série de registros classificados para o aprendizado supervisionado será necessária a classificação prévia de toda a base de dados para a aplicação do aprendizado de máquina que fará predições futuras dessa classificação.

### Importa as bibliotecas necessárias

In [1]:
import pandas as pd, numpy as np
import time
# importa o CountVectorizer
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
# Data e hora da execução do script
print(f'Código executado em {time.strftime("%d/%m/%Y às %H:%M", time.localtime(time.time()))}')

Código executado em 10/01/2022 às 20:02

### Importando a lista de Aplicações

In [3]:
df_aplicacoes = pd.read_csv('Aplicacoes.csv')

In [4]:
df_aplicacoes

                            APLICACOES
0                ACELLERA ACX 250F 250
1             ACELLERA FRONTLANDER 500
2         ACELLERA FRONTLANDER 800 EFI
3             ACELLERA HOTZOO SPORT 90
4            ACELLERA QUADRILANDER 300
5            ACELLERA QUADRILANDER 400
6            ACELLERA QUADRILANDER 600
7        ACELLERA SPORTLANDER 150R 150
8       ACELLERA SPORTLANDER 250XR 250
9       ACELLERA SPORTLANDER 350ZX 350
10      ACELLERA SPORTLANDER 450TR 450
11                            ADLY ATV
12                         ADLY JAGUAR
13                             ADLY RT
14                         AGRALE CITY
15                        AGRALE DAKAR
16                      AGRALE ELEFANT
17                   AGRALE ELEFANT RE
18                     AGRALE EXPLORER
19                        AGRALE FORCE
20                       AGRALE JUNIOR
21                          AGRALE SST
22                   AGRALE SUPER CITY
23                          AGRALE SXT
24                        AGRALE TCHAU
25            AMAZONAS AME 110 AME-110
26            AMAZONAS AME 150 AME-150
27            AMAZONAS AME 250 AME-250
28              AMAZONAS AME LX AME-LX
29                     APRILIA AREA-51
..                                 ...
831                         YAMAHA XJR
832                YAMAHA XR180 XR 180
833              YAMAHA XS1100 XS 1100
834                YAMAHA XS400 XS 400
835                YAMAHA XS500 XS 500
836                YAMAHA XS650 XS 650
837                YAMAHA XS750 XS 750
838                YAMAHA XS850 XS 850
839                      YAMAHA XT 225
840                      YAMAHA XT 600
841                 YAMAHA XT 660R 660
842  YAMAHA XT TENERE 1200 1200Z SUPER
843          YAMAHA XT TENERE 660Z 660
844                     YAMAHA XTZ 125
845             YAMAHA XTZ CROSSER 150
846              YAMAHA XTZ TENERE 250
847        YAMAHA XTZ TENERE 750 SUPER
848                      YAMAHA XZ 550
849                YAMAHA YFM 700R 700
850                         YAMAHA YFS
851                      YAMAHA YZ 125
852                      YAMAHA YZ 250
853                      YAMAHA YZ 450
854                     YAMAHA YZ 85LW
855                YAMAHA YZF 600R 600
856                      YAMAHA YZF R1
857                      YAMAHA YZF R6
858                     YAMAHA YZR 500
859                    ZONGSHEN ZS 125
860                    ZONGSHEN ZS 200

[861 rows x 1 columns]

In [5]:
df_aplicacoes.shape

(861, 1)

Observa-se dos dados acima que há 858 modelos de motocicletas disponíveis, que são as nossas possíveis aplicações dos kits de transmissão a serem importados.

#### Criação das Bags of Words do DataSet de aplicações

In [6]:
bow_aplicacoes = CountVectorizer(token_pattern='(?u)\\b[a-zA-z0-9\\w-]+\\b')

In [7]:
display(bow_aplicacoes)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern='(?u)\\b[a-zA-z0-9\\w-]+\\b',
        tokenizer=None, vocabulary=None)

In [8]:
bow_aplicacoes.fit(df_aplicacoes['APLICACOES'])

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern='(?u)\\b[a-zA-z0-9\\w-]+\\b',
        tokenizer=None, vocabulary=None)

In [9]:
# Verificação das palavras
vocabulario_aplicacoes = bow_aplicacoes.vocabulary_
vocabulario_aplicacoes

{'acellera': 89,
 'acx': 91,
 '250f': 35,
 '250': 34,
 'frontlander': 334,
 '500': 51,
 '800': 76,
 'efi': 280,
 'hotzoo': 414,
 'sport': 702,
 '90': 82,
 'quadrilander': 616,
 '300': 39,
 '400': 44,
 '600': 58,
 'sportlander': 704,
 '150r': 24,
 '150': 23,
 '250xr': 36,
 '350zx': 42,
 '350': 41,
 '450tr': 48,
 '450': 46,
 'adly': 93,
 'atv': 127,
 'jaguar': 433,
 'rt': 662,
 'agrale': 100,
 'city': 202,
 'dakar': 228,
 'elefant': 282,
 're': 641,
 'explorer': 303,
 'force': 328,
 'junior': 449,
 'sst': 715,
 'super': 731,
 'sxt': 737,
 'tchau': 743,
 'amazonas': 106,
 'ame': 107,
 '110': 6,
 'ame-110': 108,
 'ame-150': 109,
 'ame-250': 110,
 'lx': 504,
 'ame-lx': 111,
 'aprilia': 118,
 'area-51': 120,
 'classic': 205,
 'leonardo': 489,
 'moto': 541,
 'pegaso': 591,
 'rally': 634,
 'rs': 660,
 'rsv': 661,
 'mille': 530,
 'rx': 665,
 'scarabeo': 675,
 'sonic': 696,
 'sr': 710,
 'racing': 633,
 'www': 852,
 'ariel': 121,
 'golden': 367,
 'arrow': 122,
 'm2f': 506,
 'red': 643,
 'hunter': 416,
 'w': 833,
 'ng': 565,
 'atala': 124,
 'califfone': 183,
 'master': 519,
 'skegia': 688,
 'bajaj': 135,
 'champion': 198,
 'benelli': 138,
 'tnt': 759,
 'tre': 770,
 'beta': 140,
 'mx-50': 553,
 'mx50': 554,
 '50': 50,
 'bimota': 144,
 'db4': 233,
 'db5r': 234,
 'db6': 235,
 'db6r': 236,
 'db7': 237,
 'mantra': 516,
 'sbr8': 674,
 'tesi': 748,
 'birelli': 145,
 'bw': 175,
 '125': 16,
 'bmw': 148,
 'airhead': 101,
 'c1': 178,
 'f650cs': 310,
 'f650gs': 311,
 'f800gs': 312,
 'g650gs': 355,
 '650': 61,
 'k100': 451,
 'k1200gs': 452,
 'k1200gt': 453,
 'k1200r': 454,
 'k1200s': 455,
 'k1300gt': 456,
 'k1300r': 457,
 'k75': 458,
 'r1150gs': 622,
 'r1200c': 623,
 'r1200rt': 624,
 'r27': 625,
 'r32': 626,
 'r51': 627,
 '3': 38,
 'r60': 629,
 'r75': 630,
 '5': 49,
 'r90s': 631,
 's1000rr': 669,
 '1000': 1,
 'brandy': 156,
 'elegant': 283,
 'fosti': 330,
 'pista': 601,
 'turbo': 785,
 'zanella': 904,
 'brava': 157,
 'alpina': 104,
 'altino': 105,
 'apolo': 117,
 'aquila': 119,
 'daystar': 230,
 'routier': 658,
 'elektra': 284,
 'nevada': 562,
 'texana': 749,
 'winstar': 845,
 'yb': 888,
 'bravax': 158,
 'ax': 130,
 '200': 29,
 'br': 155,
 'd1': 224,
 'bvx': 174,
 's1': 668,
 'street': 723,
 '130': 18,
 'bx': 177,
 '260': 37,
 'cargo': 187,
 'f2': 305,
 'plus': 606,
 'f1': 304,
 'f3': 306,
 'tr': 766,
 'd6': 225,
 'brp': 163,
 'can-am': 185,
 'buell': 168,
 '1125': 10,
 'firebolt': 324,
 'lightning': 499,
 'ulysses': 795,
 'bueno': 169,
 'jbr': 434,
 'bull': 170,
 'hb': 402,
 'cagiva': 182,
 'canyon': 186,
 'gran': 378,
 'mito': 532,
 'navigator': 557,
 'planet': 605,
 'roadster': 653,
 'v-raptor': 797,
 'w-16': 834,
 'w16': 835,
 'ds': 252,
 'outlander': 577,
 '800r': 77,
 'max': 521,
 'ltd': 502,
 'renegade': 645,
 'daelim': 226,
 'message': 525,
 'vc': 805,
 'vf': 811,
 'vs': 825,
 'vt': 826,
 'vx': 831,
 'dafra': 227,
 'apache': 116,
 'citycom': 203,
 'kansas': 460,
 'laser': 483,
 'next': 564,
 'riva': 649,
 'roadwin': 654,
 'smart': 692,
 'speed': 698,
 'zig': 906,
 'dayang': 229,
 'dy100-31': 261,
 'dy110-20': 262,
 'dy125-18': 263,
 'dy125-36a': 264,
 'dy125-37': 265,
 'dy125-5': 266,
 'dy125-52': 267,
 'dy150-12': 269,
 'dy200': 271,
 'dy50': 273,
 'dayun': 232,
 'dy125-8': 268,
 'dy150gy': 270,
 'dy250-2': 272,
 'phanton': 597,
 'space': 697,
 'summer': 729,
 'derbi': 239,
 'atlantis': 126,
 'gpr': 368,
 'predator': 610,
 'bullet': 171,
 'replicas': 646,
 'senda': 680,
 'ditally': 244,
 'bruttus': 165,
 'joy': 446,
 'outcross': 576,
 'passion': 587,
 'pit': 602,
 'trend': 772,
 'wake': 836,
 'ducar': 255,
 'ducati': 256,
 '1098': 5,
 '1198': 13,
 '749': 71,
 '848': 78,
 '996': 85,
 '998': 86,
 '999': 87,
 '999r': 88,
 'desmosedici': 240,
 'diavel': 241,
 'hypermotard': 422,
 'monster': 537,
 'multistrada': 550,
 'sportclassic': 703,
 'ss': 714,
 'st-2': 717,
 'st-4': 718,
 'streetfighter': 724,
 'emme': 287,
 'mirage': 531,
 'one': 572,
 'fbm': 318,
 'kapra': 461,
 'mz': 555,
 'passeio': 585,
 'rallye': 635,
 'fym': 347,
 'fy100-10a': 339,
 'fy125-19': 340,
 'fy125-20': 341,
 'fy125ey-2': 342,
 'fy125y-3': 343,
 'fy150-3': 344,
 'fy150t-18': 345,
 'fy250': 346,
 'garinni': 356,
 'gr': 369,
 's': 667,
 'st': 716,
 'z': 899,
 'p': 579,
 'pi': 599,
 'gr08t4': 370,
 'gr125t3': 371,
 'gr125u': 372,
 'gr150st': 373,
 'gr150t3': 374,
 'gr150ti': 375,
 'gr150u': 376,
 'gr250t3': 377,
 'gri': 381,
 'gas': 357,
 'boy': 154,
 'enducross': 289,
 'mc': 524,
 'pampera': 582,
 'rookie': 657,
 'enduro': 290,
 'tx': 789,
 'txt': 791,
 'green': 380,
 'easy': 277,
 'runner': 663,
 'safari': 670,
 'haobao': 396,
 'hb-110': 403,
 'hb-125': 404,
 'hb-150': 405,
 'hb-50': 406,
 'harley-davidson': 398,
 'cvo': 222,
 'dyna': 274,
 'softail': 695,
 'sportster': 706,
 'touring': 765,
 'electra': 281,
 'glide': 363,
 'road': 651,
 'king': 468,
 'v-rod': 798,
 'hartford': 399,
 'legion': 488,
 'hero': 408,
 'ankur': 114,
 'puch': 613,
 'stream': 722,
 'honda': 412,
 'aero': 97,
 'cbx': 192,
 'america': 112,
 'biz': 146,
 '100': 0,
 'c100': 179,
 'c125': 180,
 'boldor': 150,
 'cb': 188,
 '900': 83,
 '1000r': 3,
 '1300': 19,
 '300r': 40,
 'cb300': 189,
 'hornet': 413,
 'cbf': 190,
 'cbr': 191,
 '1000f': 2,
 '400rr': 45,
 '750f': 74,
 '750': 72,
 'cd': 195,
 'cg': 196,
 'job': 440,
 'fan': 315,
 'tit': 754,
 'titan': 755,
 '160': 25,
 'today': 760,
 'ch': 197,
 '125r': 17,
 'cr': 212,
 '85': 79,
 'crf': 214,
 '230': 31,
 '230f': 32,
 'ct': 220,
 'dream': 251,
 'duty': 260,
 'fireblade': 323,
 'fury': 337,
 'gl': 361,
 'gold': 366,
 'wing': 844,
 'lead': 486,
 'magna': 510,
 '750c': 73,
 'ml': 534,
 'nc': 558,
 '700x': 70,
 '700': 67,
 'nsr': 569,
 'nx': 570,
 'sahara': 671,
 'falcon': 314,
 'dominator': 247,
 'nxr': 571,
 'bros': 161,
 'broz': 162,
 'pacific': 580,
 'coast': 206,
 'pan-european': 583,
 'pc': 589,
 'pcx': 590,
 'pop': 608,
 'rc': 638,
 'shadow': 682,
 'strada': 721,
 'stunner': 727,
 'hawk': 400,
 'superblackbird': 732,
 '1100xx': 8,
 'tornado': 762,
 'xr': 870,
 'trx': 781,
 'turuna': 786,
 'twin': 787,
 'xrv': 874,
 'africa': 99,
 'twister': 788,
 'valkyrie': 802,
 'varadero': 803,
 'xl': 862,
 '1000v': 4,
 'vfr': 812,
 '1200': 14,
 'vlr': 821,
 'vtr': 828,
 'vtx': 829,
 '700v': 69,
 'transalp': 767,
 'xls': 866,
 'xl125': 863,
 'xl125s': 864,
 'xlr': 865,
 'xlx': 867,
 'xre': 872,
 'husaberg': 417,
 'fe': 319,
 'husqvarna': 419,
 'husqy': 420,
 'sm': 691,
 'smr': 693,
 'tc': 742,
 'te': 746,
 'wr': 848,
 'wre': 849,
 'indian': 425,
 'chief': 199,
 'vintage': 815,
 'chieftain': 200,
 'iros': 428,
 'action': 90,
 'brave': 159,
 'izy': 430,
 'matrix': 520,
 'moving': 544,
 'warrior': 838,
 'jiapeng': 438,
 'volcano': 822,
 'jp': 447,
 'johnnypag': 442,
 'barhog': 137,
 'prostreet': 612,
 'spyder': 708,
 'jonny': 444,
 'atlantic': 125,
 'hype': 421,
 'naked': 556,
 'orbit': 574,
 'pegasus': 593,
 'quick': 618,
 'racer': 632,
 'texas': 750,
 'kahena': 459,
 'dual': 254,
 'top': 761,
 'kart': 462,
 'kasinski': 463,
 'comet': 207,
 'gt': 389,
 'gt-r': 390,
 'cruise': 217,
 'crz': 219,
 'ero': 299,
 'flash': 326,
 'furia': 336,
 'gf': 358,
 'magik': 509,
 'midas': 527,
 'motokar': 542,
 'prima': 611,
 'seta': 681,
 'soft': 694,
 'cab': 181,
 'tn': 758,
 'way': 840,
 'win': 842,
 'kawasaki': 465,
 'avajet': 129,
 'baio': 133,
 'concours': 208,
 'd-tracker': 223,
 'eliminator': 285,
 'er-5': 293,
 'er-6n': 295,
 'er6n': 297,
 'er-6f': 294,
 'er6f': 296,
 'gtr': 391,
 'kdx': 466,
 'kle': 469,
 'klr': 470,
 'klx': 471,
 '140': 21,
 'kx': 476,
 '65': 60,
 'kz': 477,
 'maxi': 522,
 'ninja': 566,
 '1100': 7,
 '1400': 22,
 'sherpa': 684,
 'versys': 809,
 'grand': 379,
 'tourer': 764,
 'voyager': 823,
 'vulcan': 830,
 'z1000': 900,
 'z750': 901,
 'z800': 902,
 'zr': 910,
 'zrx': 911,
 'zzr': 913,
 'kimco': 467,
 'djw': 245,
 'mboy': 523,
 'people': 594,
 'zing': 907,
 'ktm': 475,
 'adventure': 94,
 '1190': 12,
 '990': 84,
 'baja': 134,
 'duke': 257,
 '690': 65,
 'r': 620,
 'exc': 302,
 'rc8': 639,
 't': 738,
 'sx': 735,
 '505': 52,
 'sx-f': 736,
 'xc': 857,
 '525': 54,
 'xc-f': 858,
 'lambreta': 479,
 'landum': 481,
 'truck': 780,
 'laquila': 482,
 'akros': 102,
 'ergon': 298,
 'nix': 567,
 'lavrale': 484,
 'quattor': 617,
 'lerivo': 490,
 'formigao': 329,
 'lifan': 498,
 'cc125': 193,
 'cc150': 194,
 'cool': 209,
 'star': 719,
 'cross': 215,
 'glow': 364,
 '110s': 9,
 'hiker': 410,
 'iv': 429,
 'jojo': 443,
 'kp150': 473,
 'kp150f': 474,
 'lf100': 492,
 'lf125': 493,
 'pk110f': 603,
 'pk125': 604,
 'power': 609,
 'man': 514,
 'steed': 720,
 'tb125': 741,
 'traveller': 768,
 'x3': 856,
 'lon-v': 500,
 'luxe': 503,
 'de': 238,
 'ly': 505,
 'retro': 647,
 'e': 275,
 'mahindra': 511,
 'duro': 259,
 'rodeo': 656,
 'malaguti': 513,
 'ciak': 201,
 'spider': 701,
 'marva': 518,
 'fox': 331,
 'hercules': 407,
 'hs': 415,
 'fire': 322,
 'lf250st': 494,
 'lf400st': 495,
 'onix': 573,
 '50r': 53,
 'ufo': 794,
 'vr': 824,
 'wind': 843,
 'miza': 533,
 'drago': 250,
 'fast': 316,
 'skema': 689,
 'vite': 818,
 'mobilete': 535,
 'guzzi': 392,
 'california': 184,
 'le': 485,
 'mans': 515,
 'quota': 619,
 'v11': 801,
 'mrx': 546,
 '230r': 33,
 'mv': 551,
 'augusta': 128,
 'brutale': 164,
 'f4': 308,
 'mvk': 552,
 'big': 142,
 'black': 147,
 'brx': 167,
 'fenix': 320,
 'go': 365,
 'halley': 394,
 'jurasic': 450,
 'ma': 507,
 'simba': 687,
 'xrt': 873,
 'orca': 575,
 'jc': 435,
 'qm': 614,
 'pegassi': 592,
 'iii': 424,
 'peugeot': 595,
 'buxy': 173,
 'elyseo': 286,
 'scootelec': 676,
 'speedake': 699,
 'speedfight': 700,
 'squab': 709,
 'trekker': 771,
 'vivacity': 820,
 'zenith': 905,
 'piaggio': 600,
 'beverly': 141,
 'liberty': 497,
 'mp3': 545,
 'nrg': 568,
 'vespa': 810,
 'zip': 908,
 'polaris': 607,
 'brutus': 166,
 'outlaw': 578,
 'phoenix': 598,
 'ranger': 636,
 '570': 57,
 '6x6': 66,
 'crew': 213,
 'diesel': 242,
 'ev': 300,
 'midsize': 529,
 'xp': 869,
 'rzr': 666,
 '4': 43,
 '170': 27,
 'scrambler': 678,
 'eps': 292,
 '850': 80,
 'ho': 411,
 'sportsman': 705,
 'boss': 152,
 '550': 56,
 'wv850': 851,
 'x2': 855,
 'regal': 644,
 'raptor': 637,
 'jack': 431,
 'ghost': 359,
 'sanyang': 672,
 'enjoy': 291,
 'husky': 418,
 'passing': 586,
 'scooter': 677,
 'shineray': 685,
 'bike': 143,
 'bravo': 160,
 'custom': 221,
 'discover': 243,
 'eagle': 276,
 'f35': 307,
 'f40': 309,
 'future': 338,
 'indianapolis': 426,
 'jet': 436,
 'new': 563,
 'wave': 839,
 'strong': 726,
 'venice': 807,
 'xy': 885,
 'siamoto': 686,
 'scross': 679,
 'sundown': 730,
 'fifty': 321,
 'palio': 581,
 'pgo': 596,
 'stx': 728,
 'motard': 540,
 'vblade': 804,
 'web': 841,
 'evo': 301,
 'suzuki': 733,
 'address': 92,
 'ae': 96,
 'b-king': 132,
 'gsx': 387,
 'bandit': 136,
 'gsf': 384,
 'boulevard': 153,
 'burgman': 172,
 'an': 113,
 'dr': 248,
 'freewind': 332,
 'gs': 383,
 'gsi': 385,
 'gsr': 386,
 'gsx-r': 388,
 'gixxer': 360,
 'srad': 712,
 'hayabusa': 401,
 'intruder': 427,
 'katana': 464,
 'lets': 491,
 'ii': 423,
 'lt': 501,
 'marauder': 517,
 'gz': 393,
 'vz': 832,
 'rf': 648,
 'rm': 650,
 'rv': 664,
 'savage': 673,
 'sv': 734,
 'tl': 756,
 'v-strom': 800,
 'dl': 246,
 'strom': 725,
 'yes': 891,
 'en': 288,
 'targos': 740,
 'trimoto': 775,
 'traxx': 769,
 'best': 139,
 'cj': 204,
 'dunna': 258,
 'fly': 327,
 '135': 20,
 'jh': 437,
 'jl': 439,
 'joto': 445,
 'moby': 536,
 'montez': 538,
 'shark': 683,
 'sky': 690,
 'vico': 813,
 'work': 847,
 'triciclo': 773,
 'triumph': 778,
 'adventurer': 95,
 'bonneville': 151,
 'daytona': 231,
 'legend': 487,
 'rocket': 655,
 'triple': 776,
 'sprint': 707,
 'thruxton': 751,
 'thunderbird': 752,
 'tiger': 753,
 'trident': 774,
 'trophy': 779,
 'tt-600': 783,
 'vento': 808,
 'rebellian': 642,
 'triton': 777,
 'vthunder': 827,
 'victory': 814,
 'boardwalk': 149,
 'cory': 210,
 'ness': 561,
 'country': 211,
 'tour': 763,
 '8-ball': 75,
 'anniversary': 115,
 'roads': 652,
 'hammer': 395,
 'hard-ball': 397,
 'high-ball': 409,
 'jackpot': 432,
 'judge': 448,
 'vision': 817,
 'vegas': 806,
 'zach': 903,
 'walk': 837,
 'machine': 508,
 'wolver': 846,
 'kn': 472,
 'wuyang': 850,
 'wy': 853,
 'x': 854,
 'motos': 543,
 'xm': 868,
 'yamaha': 887,
 'aerox': 98,
 'alba': 103,
 'axis': 131,
 'bws': 176,
 'crypton': 218,
 't115': 739,
 '115': 11,
 'drag': 249,
 'dt': 253,
 'ec-02': 278,
 'eccy': 279,
 'factor': 313,
 'ybr': 889,
 'ybr125': 890,
 'fazer': 317,
 'fz1': 349,
 'fz6': 350,
 'ys150': 894,
 'ys250': 895,
 'fjr1300': 325,
 'frog': 333,
 'fs1': 335,
 'fz-09': 348,
 'fzr1000': 351,
 'fzr250': 352,
 'fzr400': 353,
 'fzr600': 354,
 'gladiator': 362,
 'grizzly': 382,
 'jog': 441,
 'lagend': 478,
 'lander': 480,
 'xtz': 883,
 'libero': 496,
 'majesty': 512,
 'mest': 526,
 'midnight': 528,
 'xvs': 884,
 'morphous': 539,
 'mt-01': 547,
 'mt-03': 548,
 'mt-07': 549,
 'neo': 560,
 'at': 123,
 'pas': 584,
 'passol': 588,
 'qt50': 615,
 'rd': 640,
 'viuva': 819,
 'negra': 559,
 'royal': 659,
 'sr500': 711,
 'srx': 713,
 'tdm': 744,
 'tdr': 745,
 '180': 28,
 'tmax': 757,
 'tt': 782,
 'tt-r': 784,
 'tx500': 790,
 'tz': 792,
 'tzr': 793,
 'v-max': 796,
 '1680': 26,
 'v-star': 799,
 'virago': 816,
 '535': 55,
 '450f': 47,
 'xf50x': 859,
 'xj6': 860,
 'xjr': 861,
 'xr180': 871,
 'xs1100': 876,
 'xs': 875,
 'xs400': 877,
 'xs500': 878,
 'xs650': 879,
 'xs750': 880,
 'xs850': 881,
 'xt': 882,
 '225': 30,
 '660r': 63,
 '660': 62,
 'tenere': 747,
 '1200z': 15,
 '660z': 64,
 'crosser': 216,
 'xz': 886,
 'yfm': 892,
 '700r': 68,
 'yfs': 893,
 'yz': 896,
 '85lw': 81,
 'yzf': 897,
 '600r': 59,
 'r1': 621,
 'r6': 628,
 'yzr': 898,
 'zongshen': 909,
 'zs': 912}

In [10]:
# Verificação do número de termos no vocabulário de aplicações
len(bow_aplicacoes.vocabulary_)

914

In [11]:
# Transformação em vetores binários
X_bow_aplicacoes = bow_aplicacoes.fit_transform(df_aplicacoes['APLICACOES'])
print(X_bow_aplicacoes)

  (0, 34)	1
  (0, 35)	1
  (0, 91)	1
  (0, 89)	1
  (1, 51)	1
  (1, 334)	1
  (1, 89)	1
  (2, 280)	1
  (2, 76)	1
  (2, 334)	1
  (2, 89)	1
  (3, 82)	1
  (3, 702)	1
  (3, 414)	1
  (3, 89)	1
  (4, 39)	1
  (4, 616)	1
  (4, 89)	1
  (5, 44)	1
  (5, 616)	1
  (5, 89)	1
  (6, 58)	1
  (6, 616)	1
  (6, 89)	1
  (7, 23)	1
  :	:
  (853, 896)	1
  (853, 887)	1
  (853, 46)	1
  (854, 81)	1
  (854, 896)	1
  (854, 887)	1
  (855, 59)	1
  (855, 897)	1
  (855, 887)	1
  (855, 58)	1
  (856, 621)	1
  (856, 897)	1
  (856, 887)	1
  (857, 628)	1
  (857, 897)	1
  (857, 887)	1
  (858, 898)	1
  (858, 887)	1
  (858, 51)	1
  (859, 912)	1
  (859, 909)	1
  (859, 16)	1
  (860, 912)	1
  (860, 909)	1
  (860, 29)	1

In [12]:
type(X_bow_aplicacoes)

scipy.sparse.csr.csr_matrix

In [13]:
matrix_aplicacoes = bow_aplicacoes.transform(df_aplicacoes['APLICACOES'])

In [14]:
print(matrix_aplicacoes)

  (0, 34)	1
  (0, 35)	1
  (0, 89)	1
  (0, 91)	1
  (1, 51)	1
  (1, 89)	1
  (1, 334)	1
  (2, 76)	1
  (2, 89)	1
  (2, 280)	1
  (2, 334)	1
  (3, 82)	1
  (3, 89)	1
  (3, 414)	1
  (3, 702)	1
  (4, 39)	1
  (4, 89)	1
  (4, 616)	1
  (5, 44)	1
  (5, 89)	1
  (5, 616)	1
  (6, 58)	1
  (6, 89)	1
  (6, 616)	1
  (7, 23)	1
  :	:
  (853, 46)	1
  (853, 887)	1
  (853, 896)	1
  (854, 81)	1
  (854, 887)	1
  (854, 896)	1
  (855, 58)	1
  (855, 59)	1
  (855, 887)	1
  (855, 897)	1
  (856, 621)	1
  (856, 887)	1
  (856, 897)	1
  (857, 628)	1
  (857, 887)	1
  (857, 897)	1
  (858, 51)	1
  (858, 887)	1
  (858, 898)	1
  (859, 16)	1
  (859, 909)	1
  (859, 912)	1
  (860, 29)	1
  (860, 909)	1
  (860, 912)	1

In [15]:
print(matrix_aplicacoes.shape)

(861, 914)

In [16]:
print(matrix_aplicacoes.toarray())

[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 1 0]
 [0 0 0 ... 0 1 0]]

In [17]:
df1=pd.DataFrame(matrix_aplicacoes.toarray())
df1

,0,1,2,3,4,5,6,7,8,9,...,904,905,906,907,908,909,910,911,912,913
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
831,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
832,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
833,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
834,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
835,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
836,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
837,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
838,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
839,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
840,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
841,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
842,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
843,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
844,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
845,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
846,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
847,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
848,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
849,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
850,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
851,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
852,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
853,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
854,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
855,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
856,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
857,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
858,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
859,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
860,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0

In [18]:
# Totalização do número de termos de cada vocábulo
df_sum=df1.sum(axis=0)
df_sum

0       5
1       9
2       1
3       1
4       1
5       1
6       7
7       2
8       1
9       1
10      1
11      1
12      2
13      1
14      5
15      1
16     29
17      1
18      1
19      2
20      3
21      2
22      2
23     26
24      2
25      1
26      1
27      1
28      2
29     15
       ..
884     1
885     1
886     1
887    97
888     1
889     1
890     1
891     1
892     1
893     1
894     1
895     1
896     4
897     3
898     1
899     1
900     1
901     1
902     1
903     1
904     1
905     1
906     1
907     1
908     1
909     2
910     1
911     1
912     2
913     1
Length: 914, dtype: int64

In [19]:
# Sumário do dataset
df_sum.describe()

count    914.000000
mean       2.539387
std        5.752382
min        1.000000
25%        1.000000
50%        1.000000
75%        2.000000
max       97.000000
dtype: float64

In [20]:
# Identificação dos valores máximos
print(df_sum.sort_values())

456     1
557     1
558     1
559     1
560     1
562     1
564     1
565     1
567     1
568     1
556     1
569     1
573     1
574     1
576     1
579     1
580     1
581     1
582     1
583     1
584     1
571     1
555     1
554     1
553     1
527     1
528     1
529     1
530     1
532     1
       ..
705    12
158    13
356    13
731    13
46     14
769    14
730    14
118    14
44     15
29     15
778    15
51     16
185    17
552    17
256    18
814    18
498    22
463    23
50     24
475    25
148    25
685    25
23     26
16     29
733    36
607    40
34     40
465    43
412    79
887    97
Length: 914, dtype: int64

In [21]:
# Identificação dos valores com uma ocorrência
df_sum[df_sum==1]

2      1
3      1
4      1
5      1
8      1
9      1
10     1
11     1
13     1
15     1
17     1
18     1
25     1
26     1
27     1
30     1
32     1
33     1
36     1
38     1
40     1
42     1
45     1
47     1
48     1
49     1
52     1
53     1
54     1
55     1
      ..
877    1
878    1
879    1
880    1
881    1
884    1
885    1
886    1
888    1
889    1
890    1
891    1
892    1
893    1
894    1
895    1
898    1
899    1
900    1
901    1
902    1
903    1
904    1
905    1
906    1
907    1
908    1
910    1
911    1
913    1
Length: 655, dtype: int64

Diante da necessidade de se ter uma série de registros classificados para o aprendizado supervisionado e após a determinação dos 858 modelos de aplicações disponíveis, vamos classificar baseados nas seguintes observações realizadas na análise exploratória dos dados:
1. Os modelos de motocicletas têm nomes que os distinguem em grande parte dos casos;
2. Dos 913 termos, 655 aparacem apenas uma vez, o que implica que sua ocorrência já deve classificar o item;
3. O termo com maior número de ocorrências aparece 97 vezes (YAMAHA), sendo o menos distintivo de todos.

In [22]:
# Função para pegar a chave pelo valor, dado que valor é único.
def pegaChave(v):
    for chave, valor in vocabulario_aplicacoes.items():
        if v == valor:
            return chave
    return "Não existe chave para esse valor."

In [23]:
print(pegaChave(881).upper())

XS850

In [24]:
# Criação do dicionário chaves invertendo chave e valor do vocabulário
chaves = dict((v,k) for k,v in vocabulario_aplicacoes.items())

In [25]:
# Termo do vocabulário pelo índice
chaves[887].upper()

'YAMAHA'

In [26]:
# Índice pelo termo do vocabulário
vocabulario_aplicacoes['yamaha']

887

In [27]:
# Número de ocorrências pelo termo do vocabulário
df_sum[vocabulario_aplicacoes['yamaha']]

97

In [28]:
# Função para determinar a aplicação caso a contagem do termo seja 1
def achaAplicacao1(modelo):
    # pega os termos do modelo e transforma em uma lista
    modelolst = modelo.lower().split()
    # para cada termo
    for mod in modelolst:
        try:
            # l é o índice termo no vocabulário de aplicações
            l = vocabulario_aplicacoes[mod]
            # se a soma de todos os termos do índice i do vocabulário for 1
            if df_sum[l]==1: 
                # pegar o índice dessa linha
                # que será onde o valor 1 aparece na coluna chamada linha do df1
                i = int(df1[df1[l]==1].index.values)
                # retornar a descrição da aplicação dessa linha
                return df_aplicacoes['APLICACOES'][i]
        except:
            continue
    return 'XXX'

In [29]:
print(achaAplicacao1('MOTO TEMOS OUTRO ZING'))

KIMCO ZING

### Importa os dados já tratados

In [30]:
# Importa base de dados com os modelos já determinados para um dataframe
df = pd.read_excel('dataframe_modelos.xlsx')

In [31]:
df.sample(4)

,NUMERO DE ORDEM,ANOMES,COD.NCM,DESCRICAO DO CODIGO NCM,PAIS.OR,PAIS DE ORIGEM,PAIS.AQ,PAIS DE AQUISICAO,UND.ESTAT.,UNIDADE DE MEDIDA,...,VALOR UN.PROD.DOLAR,QTD COMERCIAL.,TOT.UN.PROD.DOLAR,UNIDADE DESEMBARQUE,UNIDADE DESEMBARACO,INCOTERM,NAT.INFORMACAO,SITUACAO DO DESPACHO,DESCRICAO,Modelo
887,264610000100010,202002,87141000,PARTES ACESSÓRIOS P/MOTOCICLET,160,"CHINA, REPUBLICA POP",767,SUICA,10,QUILOGRAMA LIQUIDO,...,4.500,500.0,2250.0,N/INFORMADO,IRF - PORTO DE SUAPE,FOB,EFETIVA,DI DESEMBARAÇADA,cg 125 fan cargo 125,HONDA CARGO 125 CG FAN
13879,195800000200022,202103,87141000,PARTES ACESSÓRIOS P/MOTOCICLET,160,"CHINA, REPUBLICA POP",160,"CHINA, REPUBLICA POP",10,QUILOGRAMA LIQUIDO,...,4.160,100.0,416.0,N/INFORMADO,PORTO DE MANAUS,FOB,EFETIVA,DI DESEMBARAÇADA,cg 125 titan ks es cargo p21b-,HONDA CG TIT AN 125 CARGO TITAN
3190,124890000200011,202006,87141000,PARTES ACESSÓRIOS P/MOTOCICLET,160,"CHINA, REPUBLICA POP",767,SUICA,10,QUILOGRAMA LIQUIDO,...,3.987,1000.0,3987.0,N/INFORMADO,ITAJAI,FOB,EFETIVA,DI DESEMBARAÇADA,cg 125 fan cargo 125 nr,HONDA CARGO 125 CG FAN
9927,1709790000100031,202011,87141000,PARTES ACESSÓRIOS P/MOTOCICLET,160,"CHINA, REPUBLICA POP",160,"CHINA, REPUBLICA POP",10,QUILOGRAMA LIQUIDO,...,1.630,300.0,489.0,N/INFORMADO,ITAJAI,FOB,EFETIVA,DI DESEMBARAÇADA,gsr150 42 allen,GSR 150

In [32]:
df.iloc[:,-2:].head()

                          DESCRICAO                           Modelo
0  honda cg 150 titan ks es mix fan    HONDA CG 150 TIT AN TITAN FAN
1    honda cg 125 titan ks es cargo  CG HONDA TIT AN 125 CARGO TITAN
2                  honda cg 125 fan                 HONDA 125 CG FAN
3                    c100 biz allen                   HONDA BIZ C100
4                  mirage 150 allen                       MIRAGE 150

In [33]:
# Verifica o tamnanho do dataframe
df.shape

(18237, 27)

## Classificando segundo a lista de Aplicações

In [34]:
df['APLICACAO']=df['Modelo'].apply(achaAplicacao1)

In [35]:
df.iloc[:,-3:].head(10)

,DESCRICAO,Modelo,APLICACAO
0,honda cg 150 titan ks es mix fan,HONDA CG 150 TIT AN TITAN FAN,HONDA CG TIT TITAN 125 150 160
1,honda cg 125 titan ks es cargo,CG HONDA TIT AN 125 CARGO TITAN,HONDA CG TIT TITAN 125 150 160
2,honda cg 125 fan,HONDA 125 CG FAN,HONDA CG FAN
3,c100 biz allen,HONDA BIZ C100,HONDA BIZ 100 C100 125 C125
4,mirage 150 allen,MIRAGE 150,XXX
5,cbx 250 twister allen,HONDA CBX TWISTER 250,HONDA TWISTER CBX 250
6,crf 230 allen,HONDA CRF 230,XXX
7,shineray phoenix 50cc allen,SHINERAY PHOENIX,XXX
8,pop 110 allen,HONDA 110 POP,HONDA POP 100
9,pop 100 allen,HONDA POP 100,HONDA POP 100

In [36]:
df[df['APLICACAO']=='XXX'].iloc[:,-3:].head(10)

                      DESCRICAO                Modelo APLICACAO
4              mirage 150 allen            MIRAGE 150       XXX
6                 crf 230 allen         HONDA CRF 230       XXX
7   shineray phoenix 50cc allen      SHINERAY PHOENIX       XXX
11         hunter max 125 allen        125 HUNTER MAX       XXX
13                web 100 allen               WEB 100       XXX
14                cb 250f allen         HONDA CB 250F       XXX
16          xt 250 tenere allen  YAMAHA TENERE XT 250       XXX
22               jet 49cc allen                   JET       XXX
24                xtz 125 allen        YAMAHA XTZ 125       XXX
30              fazer 150 allen      YAMAHA 150 FAZER       XXX

In [37]:
print('Registros sem classificação:  ' + str(df[df['APLICACAO']=='XXX'].iloc[:,-3:].shape[0]))
print('Registros com classificação: ' + str(df[df['APLICACAO']!='XXX'].iloc[:,-3:].shape[0]))
print('Total de Registros:          ' + str(df.shape[0]))

Registros sem classificação:  2916
Registros com classificação: 15321
Total de Registros:          18237

Observa-se que após a classificação pelos termos únicos restaram cerca de 3.000 linhas, havendo mais de 15.000 registros já classificados.

#### Classifica o modelo como aplicação se os termos forem exatamente iguais

In [38]:
def achaAplicacao2(modelo):
    modelolst=modelo.lower().split() # cria lista com termos do modelo
    aplicacoes_temp=[] # inicializa a lista de saída
    for aplicacao in df_aplicacoes['APLICACOES']: # para cada aplicação
        aplicacaolst = aplicacao.lower().split() # cria lista
        if all(termos in aplicacaolst for termos in modelolst): # se a aplicacão contém o modelo
            aplicacoes_temp.append(aplicacao) # adiciona na lista de saída
    if len(aplicacoes_temp)==0:
        return 'XXX' # retorna a saída
    elif len(aplicacoes_temp)==1:
        return aplicacoes_temp[0] # retorna a saída
    else:
        return aplicacoes_temp # retorna a saída

In [39]:
# df temporário filtrado pelos não classificados
dftemp=df.iloc[:,-2:][df['APLICACAO']=='XXX']
dftemp.shape

(2916, 2)

In [40]:
dftemp.head()

              Modelo APLICACAO
4         MIRAGE 150       XXX
6      HONDA CRF 230       XXX
7   SHINERAY PHOENIX       XXX
11    125 HUNTER MAX       XXX
13           WEB 100       XXX

In [41]:
# aplica a funão achaachaAplicacao2
dftemp=dftemp.assign(APLICACAO=dftemp['Modelo'].apply(achaAplicacao2))

In [42]:
dftemp.sample(5)

                 Modelo                                       APLICACAO
17456      HONDA CB 300                         HONDA CB 300R 300 CB300
1125     YAMAHA XTZ 250  [YAMAHA LANDER XTZ 250, YAMAHA XTZ TENERE 250]
4718   YAMAHA FAZER 250                          YAMAHA FAZER YS250 250
14969  HONDA WR 200 CBX                                             XXX
4748     125 HUNTER MAX                                             XXX

In [43]:
# quantidade de registros sem classificação
dftemp[dftemp['APLICACAO']=='XXX'].shape

(659, 2)

In [44]:
# atualiza o dataframe df com as alterações feitas em dftemp
df.update(dftemp)

In [45]:
df.iloc[:,-3:].sample(5)

,DESCRICAO,Modelo,APLICACAO
16818,ys 250 fazer,YAMAHA FAZER 250,YAMAHA FAZER YS250 250
1780,bmk titan fan 200,HONDA TIT AN 200 TITAN FAN,HONDA CG TIT TITAN 125 150 160
364,brandy yamaha xtz 125 pc-corrente reg pc-coroa...,PC 125 XTZ BRANDY YAMAHA,HONDA PC 50
11310,racing xl 125,HONDA 125 RACING XL,XXX
3066,stt cb 300,HONDA CB 300,HONDA CB 300R 300 CB300

In [46]:
df[df['APLICACAO']=='XXX'].iloc[:,-3:].sample(5)

                 DESCRICAO                Modelo APLICACAO
11685              web 100               WEB 100       XXX
311    hunter max125 allen        125 HUNTER MAX       XXX
13551      crf230 50 allen      HONDA 230 50 CRF       XXX
5697         xt 250 tenere  YAMAHA TENERE XT 250       XXX
3878             speed 150             SPEED 150       XXX

In [47]:
print('Registros sem classificação:  ' + str(df[df['APLICACAO']=='XXX'].iloc[:,-3:].shape[0]))
print('Registros com classificação: ' + str(df[df['APLICACAO']!='XXX'].iloc[:,-3:].shape[0]))
print('Total de Registros:          ' + str(df.shape[0]))

Registros sem classificação:  659
Registros com classificação: 17578
Total de Registros:          18237

Observa-se que após a classificação pelos termos únicos restaram um pouco mais de 700 linhas.<br>
Para fins de utilização no aprendizado de classificação, os mais de 17.700 registros restantes são suficientes para comparação com os outros modelos a determinar a melhor classificação.

### Exportando o DataFrame

Exportando para um arquivo CSV

In [48]:
df.to_csv(r'dataframe_modelos_class0.csv', index = False, header = True)

Exportando para um arquivo de planilha do Excel

In [49]:
df.to_excel(r'dataframe_modelos_class0.xlsx', index = False, header = True)